:root {
  --cell-width: 94px;
  --cell-height: 94px;
  --clr-white: #fff;
  --clr-black: #7fa650;
  --clr-yellow: yellow;
  --clr-lightgray:  lightgray;
  --clr-brown: brown;
} 

* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, black, transparent);
}

.board {
  display: grid;
  grid-template-rows: repeat(8hr 1);
  grid-template-columns: repeat(8, auto);
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: var(--cell-width);
  height: auto;
  object-fit: contain;
  position: relative;
  cursor: pointer;
}

.black {
  background-color: var(--clr-black);
}

.white {
  background-color: var(--clr-white);
}

.brown {
  background-color: var(--clr-brown);
}

.selected {
  background-color: var(--clr-yellow);
}

.available {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  opacity: .8;
  background-color: var(--clr-lightgray);
}

.lost-wrap {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}